{% load static %}

<h2>Fase Final</h2>


<div id="players">
    <!-- Jugador 1 -->
    <div class="player">
        <p class="player-name orange">{{ jugadorFinal }}</p>
        <h3 class="puntos">Puntos: {{ puntos_jugadorFinal }}</h3>
        <p>{{respuesta_jugadorIA}}</p>
    </div>
</div>

<form method="post" id="gameForm">
    {% csrf_token %}
    {%if juego_acabado %}
    <p>Juego finalizado</p>
    <a href="{% url 'fin_juego'%}">Siguiente</a>
    {%else%}
        {% if fin %}
        <p>Ronda finalizada</p>
        <a href="{% url 'ultima_palabra'%}">Siguiente</a>
        {%else%}
            {% if IA_jugando %}
                <button href ="{% url 'palabras_encadenadas'%}" onclick="obtenerIdsActivos()">Pulse aqui para que juegue la IA</button>
            {%else%}
            <div id="campo_palabra">
                <label for="respuesta">Meter palabra:</label>
                <input type="text" id="inputPalabra" name="respuesta" placeholder='{{primera_letra}}' />
                <input type="hidden" name="pista" value="no"> 
            </div>
            <input type="submit" value="Enviar">
            {% endif %}
        {%endif%}
    {% endif %}
</form>

