{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <title>{% block title %}Página de Instrucciones{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style_instrucciones.css' %}">
</head>
<body>
    <div class="container">
        <div class="banner">
            <span class="text-juego">{{ tituloDelJuego }}</span>
        </div>
        <div class="instructions">
            {{ instrucciones|linebreaksbr }}
        </div>
        <input type="submit" value="Jugar" class="play-button">
    </div>  
</body>
</html>
