{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Mi Sitio{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/game.js' %}"></script>
  </head>
  <body>
    <div id="content">
      {% if request.path != '/' %}
      <div id="back">
        <a href="{% url 'index' %}">
          <img src="{% static '/img/home.png' %}" alt="Volver a inicio">
        </a>
      </div>
      {% endif %}

      {% if user.is_authenticated %}
        {% if request.path != '/accounts/logout/'  %}
        <div id=mi_perfil class=base_perfil >
          <img src="{% static '/img/user.png' %}" alt="Foto de perfil">
          <p>Hola, {{user.get_username}} <a href="{% url 'usuario' %}">Ver mi perfil</a></p>
          <form action="{% url 'my_logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Cerrar sesión</button>
          </form>
        </div>
        {% endif %}
      {% else %}
        {% if request.path != '/accounts/login/'  %}
        <div id="mi_perfil" class=base_perfil>
          <p><a href="{% url 'my_login'%}">Invitado</a> </a></p>
        </div>
        {% endif %}
      {% endif %}

      {% block content %}{% endblock %}</div>


  </body>
</html>
