{% load static %}

{% if turno_actual == j1 %}
    <h2 class="prueba">Turno de {{ jugador1 }}</h2>
{% elif turno_actual == j2 %}
    <h2 class="prueba">Turno de {{ jugador2 }}</h2>
{% endif %}


<div id="players">
    <!-- Jugador 1 -->
    <div class="player">
        <p class="player-name orange">{{ jugador1 }} </p>
        <p class="puntos">{{puntos_jugador1}}</p>
        <p>{{respuestaIA1}}</p>
    </div>

    <!-- Jugador 2 -->
    <div class="player">
        <p class="player-name blue">{{ jugador2 }}</p>
        <p class="puntos">{{puntos_jugador2}}</p>
        <p>{{respuestaIA2}}</p>
    </div>
</div>


<form method="post" id="gameForm">
    {% csrf_token %}
    <!-- Agrega otros campos del formulario según sea necesario -->


    {% if fin %}
    <p>Ronda finalizada</p>
    <a href="{% url 'marcador_ronda'%}" onclick="borrarEstilos()">Siguiente</a>
    {%else%}
        {% if IA_jugando %}
            <button href ="{% url 'palabras_encadenadas'%}" onclick="obtenerIdsActivos()">Pulse aqui para que juegue la IA</button>
        {%else%}
            {%if isSeleccionada %}
                <a>Elige la palabra que quieres adivinar (por arriba o por abajo)</a>
            {% else %}
                <div id="campo_palabra">
                <label for="respuesta">Escribe su opción:</label>
                <input type="text" class="registro-input" name="respuesta" placeholder='{{primera_letra}}' />
                </div>
                <input type="submit" class="play-button" value="Enviar" onclick="comprobarPalabra('{{palabra_a_adivinar}}')">
            {% endif %}
        {% endif %}
    {% endif %}

</form>

