{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Mi Sitio{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/game.js' %}"></script>
  </head>
  <body>
    <div id="content">
      {% if request.path != '/' %}
      <div id="back">
        <a href="{% url 'index' %}">
          <img src="{% static '/img/home.png' %}" alt="Volver a inicio">
        </a>
      </div>
      {% endif %}

      {% block content %}{% endblock %}</div>
  </body>
<script>
      const [navigationEntry] = performance.getEntriesByType('navigation');
            
            if (navigationEntry && navigationEntry.type === 'back_forward') {
                window.location.href = "{% url 'index' %}";
            }
</script>  
</html>
