{% extends 'base_generic.html' %} 
{% load static %}

{% block title %} PARTIDA EN JUEGO {% endblock %} 

{% block content %}
<h1>PARTIDA EN JUEGO</h1>
<div id="game">
    <div id="panel">
        {% for palabra in palabras %}
        <li class="visible"><span class="palabraVisible">{{ palabra.p1 }}</span></li>
        <li class="invisible"><span class="palabraInvisible">{{ palabra.p2 }}</span></li>
        <li class="invisible"><span class="palabraInvisible">{{ palabra.p3 }}</span></li>
        <li class="visible"><span class="palabraVisible"></span>{{ palabra.p4 }}</span></li>
        <li class="invisible"><span class="palabraInvisible">{{ palabra.p5 }}</span></li>
        <li class="invisible"><span class="palabraInvisible">{{ palabra.p6 }}</span></li>
        <li class="visible"><span class="palabraVisible"></span>{{ palabra.p7 }}</span></li>
        {% endfor %}
    </div>
    
    <div id="jugadores">
        {% include 'base_players.html' %}
    </div>
</div>
{% endblock %}


