{% extends "base_generic.html" %}
{% load static %}


{%block content %}
<h1>Juego Finalizado</h1>
<div id = "marcador"></div>
    <div id="players">
        <!-- Jugador 1 -->
        <div class="player">
            <p class="player-name orange">{{ jugadorFinal }}</p>
            <h3 class="puntos">Puntos: {{ puntos_jugadorFinal }}</h3>
            <p>{{respuesta_jugadorIA}}</p>
        </div>
        <a class="link-final" href="{% url 'index'%}">Volver al inicio</a>
    </div>
</div>
   
{% endblock %}