{% extends 'base_generic.html' %} 
{% load static %}

{% block title %} INICIO {% endblock %} 
{%block content %}
<h1>Bienvenido a Reacción en Cadena</h1>
{% if user.is_authenticated%}
{% else %}
    <p><a href="{% url 'login'%}">Iniciar Sesión</a>  <a href="{% url 'registro' %}">Registrarse</a></p>
{% endif %}

    <p>Elige un modo de juego:</p>
    
    <form method="post" action="{% url 'index' %}">
        {% csrf_token %}
        {% for radio in form.opcion_elegida %}
        {{ radio }}
        {% endfor %}
        <input type="submit" value="Jugar">
    </form>

{% endblock %}
