{% extends 'base_generic.html' %} 
{% load static %}

{% block title %} INICIO {% endblock %} 
{%block content %}
<h1>Bienvenido a Reacción en Cadena</h1>
{% if user.is_authenticated %}
    <p><a href="{% url 'logout'%}">Cerrar sesión</a></p>
{% else %}
    <p><a href="{% url 'login'%}">Iniciar Sesión</a>  <a href="{% url 'registro' %}">Registrarse</a></p>
{% endif %}

    <p>Elige un modo de juego:</p>
    
    <form method="post">
        {% csrf_token %}
        {% for radio in form.opcion_elegida %}
        {{ radio }}
        {% endfor %}
        <button type="submit">Jugar</button>
    </form>
    


{% endblock %}
