{% extends "base_generic.html" %}
{% load static %}


{% block content %}
<div class="banner">
  <span class="text-juego">Inicio Sesión</span>
</div>



  {% if next %}
    {% if user.is_authenticated %}
      <p>Su cuenta no tiene acceso a esta página. Para continuar,
      inicie sesión con una cuenta que tenga acceso.</p>
    {% else %}
      <p>Por favor inicie sesión para ver esta página.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}"  class="registro-form">
    {% csrf_token %}
    <label for="{{ form.username.id_for_label }}" class="registro-label">Usuario:</label>
    {{ form.username }}
    <label for="{{ form.password.id_for_label }}" class="registro-label">Contraseña:</label>
    {{ form.password }}
    <p>¿No tienes cuenta?<a href="{% url 'registro' %}"> Regístrate aquí</a></p>
    {% if form.errors %}
    <p class = "registro-error">Su nombre de usuario y contraseña no coinciden. Inténtalo de nuevo.</p>
    {% endif %}
    <input type="submit" value="Iniciar Sesión" class="play-button">
    <input type="hidden" name="next" value="{{ next }}">
  </form>


{% endblock %}
