{% extends "base_generic.html" %}
{% load static %}


{%block content %}
<h1>{{ ronda }} finalizada</h1>
<div id = "jugadores">
    <div class="player">
        <p class="player-name orange">{{ jugador1 }} </p>
        <h3 class="puntos">Puntos: {{ puntos_jugador1 }}</h3>
    </div>

    <!-- Jugador 2 -->
    <div class="player">
        <p class="player-name blue">{{ jugador2 }}</p>
        <h3 class="puntos">Puntos: {{ puntos_jugador2 }}</h3>
    </div>
</div>
</div>

<div class="right-column">
    <button class="play-button" onclick="location.href='{{ urlDelJuego }}';">Siguiente ronda</button>
</div>

{% endblock %}