{% extends "base_generic.html" %}
{% load static %}


{%block content %}
<h1>{{ ronda }} finalizada</h1>
<div id = "jugadores">
    <div class="player">
        <p class="player-name orange">{{ jugador1 }} </p>
        <p class="puntos">{{puntos_jugador1}}</p>
    </div>

    <!-- Jugador 2 -->
    <div class="player">
        <p class="player-name blue">{{ jugador2 }}</p>
        <p class="puntos">{{puntos_jugador2}}</p>
    </div>
</div>
</div>

<div class="right-column">
    <button class="play-button" onclick="location.href='{{ urlDelJuego }}';">Siguiente ronda</button>
</div>

{% endblock %}