{% extends 'base_generic.html' %} 
{% load static %}


{% block title %} PARTIDA EN JUEGO {% endblock %} 
{%block content %}
    <h1>PARTIDA EN JUEGO</h1>
<div id="game">
    <div id=panel>
        <button type="button" onclick="generateWords()">Generar Palabras</button>
        <form id="wordForm">
            <p><span id="word1"></span></p>
            <p><span id="word2"></span></p>
            <p><span id="letter"></span></p>
            <label for="solution">Ingresa la palabra secreta:</label>
            <input type="text" id="solution" required>
            <p><span id="result"></span></p>
    
            <button type="button" onclick="checkSolution()">Comprobar Solución</button>
    
        </form>
        <p id="result"></p>
    </div>
    
    <div id = "jugadores">
        {% include 'base_players.html' %}
    </div>

</div>

{% endblock %}
