{% extends 'base_generic.html' %} 
{% load static %}


{% block title %} PALABRAS ENCADENADAS{% endblock %} 
{%block content %}
<h1>PALABRAS ENCADENADAS</h1>
<div id="game">
    <div id = "panel">
        <div id=encadenadas>
                <h3>{{ palabras.tema }}</h3>
                <li id="p1">{{ palabras_modificadas.0 }}</li>
                <li id="p2">{{ palabras_modificadas.1 }}</li>
                <li id="p3">{{ palabras_modificadas.2 }}</li>
                <li id="p4">{{ palabras_modificadas.3 }}</li>
                <li id="p5">{{ palabras_modificadas.4 }}</li>
                <li id="p6">{{ palabras_modificadas.5 }}</li>
        </div>
    </div>

    <input type="hidden" id="idPalabra" value="{{idPalabra}}"> 
       
    <div id = "jugadores">
        {% include 'base_players.html' %}
    </div>

    

</div>

{% endblock %}