{% extends 'base_generic.html' %} 
{% load static %}

{% block title %} Perfil de Usuario {% endblock %} 
{%block content %}
  <div class="container">
    <aside class="sidebar">
      <ul>
        <li><a href="#profile">Perfil</a></li>
        <li><a href="#stats">Estadísticas</a></li>
        <!-- Más enlaces de navegación según sea necesario -->
      </ul>
    </aside>
    
    <div class="main-content">
      <div class="profile">
        <h2>Perfil de Usuario</h2>
        <div class="label-value">
          <label>Nombre de Usuario:</label>
          <span class="user-value">{{user.username}}</span>
        </div>
        <div class="label-value">
          <label>Correo electrónico:</label>
          <span class="user-value">{{user.email}}</span>
        </div>
        <div class="label-value">
        <span class="user-value"><a href="{% url 'cambiar_contraseña' %}">Cambiar Contraseña</a></span>
        </div>
      </div>      
      
      <div class="stats">
        <!-- Estadísticas del jugador -->
        <h2>Estadísticas</h2>
        <p>Estadísticas importantes sobre tu rendimiento.</p>
        <!-- Puedes acceder a la información de la base de datos y mostrarla aquí -->
      </div>

      <form action="{% url 'my_logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="cerrar_sesion">Cerrar sesión</button>
      </form>
    </div>
  </div>
{% endblock %}
