{% extends 'base_generic.html' %} 
{% load static %}

{% block title %} Perfil de Usuario {% endblock %} 
{%block content %}
  <div class="container">
    <aside class="sidebar">
      <ul>
        <li><a href="#profile">Perfil</a></li>
        <li><a href="#stats">Estadísticas</a></li>
        <!-- Más enlaces de navegación según sea necesario -->
      </ul>
    </aside>
    
    <div class="main-content">
      <section id="profile" class="profile">
       <!-- Contenido del perfil -->
       <h2>Perfil de Usuario</h2>
       <p> Nombre de usuario: {{user.get_username}} </p>
       <p><a href="{% url 'cambiar_contraseña' %}">Cambiar Contraseña</a></p>
      </section>
      
      <section id="stats" class="stats">
        <!-- Estadísticas del jugador -->
        <h2>Estadísticas</h2>
        <p>Estadísticas importantes sobre tu rendimiento.</p>
        <!-- Puedes acceder a la información de la base de datos y mostrarla aquí -->
      </section>

      <p><a href="{% url 'logout'%}?next={{request.path}}">Cerrrar Sesión</a></p>
    </div>
  </div>
{% endblock %}
