{% extends 'base_generic.html' %} 
{% load static %}


{% block title %} ¡BIENVENIDO AL JUEGO! {% endblock %} 
{%block content %}
    <div class="banner">
        <span class="text-juego">partida en juego</span>
    </div>
    <form id="playerForm" method="post" action="{% url 'pregame' %}" class="registro-form">
        <p>Nombre de los jugadores</p>
        {% csrf_token %}
        <label for="jugador1" class="registro-label">{{ j1 }}</label>
        {{ form.jugador1 }}
        <label for="jugador2" class="registro-label">{{ j2 }}</label>
        {{ form.jugador2 }}
        <input type="submit" value="Jugar" class="play-button">
    </form>
{% endblock %}
