{% extends 'base_generic.html' %} 
{% load static %}


{% block title %} ¡BIENVENIDO AL JUEGO! {% endblock %} 
{%block content %}
    <div class="banner">
        <span class="text-juego">partida en juego</span>
    </div>

    <div class="form-container">
        <form id="playerForm" method="post" action="{% url 'pregame' %}" class="horizontal-form">
            <p>Nombre de los jugadores</p>
            {% csrf_token %}
            <div class="form-row">
                <label for="jugador1">{{ j1 }}</label>
                {{ form.jugador1 }}
            </div>
            <div class="form-row">
                <label for="jugador2">{{ j2 }}</label>
                {{ form.jugador2 }}
            </div>
            <input type="submit" value="Jugar" class="play-button">
        </form>
    </div>
</script>
{% endblock %}
