{% extends 'base_generic.html' %} 
{% load static %}

{% block title %} Mejores Puntuaciones {% endblock %} 
{%block content %}
<div class="banner">
    <span class="text-juego">mejores puntuaciones</span>
</div>
<div class="puntuaciones">
    <table>
        <thead>
            <tr>
                <th>Posición</th>
                <th>Jugador</th>
                <th>Puntos</th>
            </tr>
        </thead>
        <tbody>
            {% for puntuacion in podio %}
            <tr>
                <td>{{ puntuacion.posicion }}</td>
                <td>{{ puntuacion.jugador }}</td>
                <td>{{ puntuacion.puntos }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
