{% extends 'base_generic.html' %} 
{% load static %}


{% block title %} PARTIDA EN JUEGO {% endblock %} 
{%block content %}
<div class="banner">
    <span class="text-juego">última palabra</span>
</div>
<div id="game">
    <div id = "panel">
        <div id=ultimo_panel>
                <li>{{ palabra_inicial }}</li>
                <li id="p2">{{ solucion_mostrada }}</li>
                <li id="p3">{{ pista_mostrada }}</li>
        </div>
{% if pistaMostrada %}
        <form method="post" id="clueForm">
            {% csrf_token %}
            <input type="hidden" name="pista" value="yes"> 
            <input type="submit" class ="play-button" value="Solicitar pista">
        </form>
{% endif %}
    </div>

    <input type="hidden" id="idPalabra" value="{{idPalabra}}"> 
       
    <div id = "jugadores">
        {% include 'base_final_player.html' %}
    </div>

</div>

{% endblock %}