body {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    min-height: 100vh; /* Asegura que el body tome al menos el alto completo de la pantalla */
    margin: 0; /* Elimina los márgenes por defecto */

    background: radial-gradient(circle at center, #b3d9ff 0%, #80bfff 50%, #0061ff 100%);
    /* Para navegadores que no soportan gradientes */
    background: -webkit-radial-gradient(circle at center, #b3d9ff 0%, #80bfff 50%, #0061ff 100%);
    background: -moz-radial-gradient(circle at center, #b3d9ff 0%, #80bfff 50%, #0061ff 100%);
    background: -o-radial-gradient(circle at center, #b3d9ff 0%, #80bfff 50%, #0061ff 100%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    max-width: 500px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9fafb6e;
    border-radius: 0 30px 0 30px;
}

.banner {
    text-align: center;
}

.text-juego {
    display: block;
    font-size: 50px; 
    font-weight: bold;
    color: white;
    padding: 10px 40px; 
    border-radius: 0 30px 30px 30px; /* Redondeado en todas las esquinas menos en la superior izquierda */
    background: linear-gradient(to bottom right, #f06 20%, #f90 80%);
    box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.6); 
    margin-bottom: 40px;
}

.play-button {
    display: block;
    margin: 0 auto;
    font-size: 20px; 
    color: white;
    padding: 7px 40px; 
    border-radius: 15px 0 15px 0; 
    background: linear-gradient(to bottom right, #f06 20%, #f90 80%);
    box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.6); 
    border:none;
    transition: background-color 0.3s;
    margin-top: 30px;
}

.play-button:hover {
    background: #19b112
}
