/* styles.css */

h1, p {
    color: black;
    text-align: center;
}

a {
    color: #0061ff /* Puedes ajustar el color del enlace según tu preferencia */
}

/*base_generic.html*/
#mi_perfil {
    background-color: #fff; /* Fondo blanco */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    display: flex;
    align-items: center;
}

.base_perfil{
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
}

#mi_perfil img {
    width: 50px; /* Ajusta según sea necesario */
    height: 50px; /* Ajusta según sea necesario */
    border-radius: 50%;
    margin-right: 10px;
}

#mi_perfil p {
    margin: 0;
    font-size: 14px; /* Ajusta según sea necesario */
}

#mi_perfil a {
    color: #0061ff; /* Color del enlace */
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
}

#back {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: #fff; /* Fondo blanco */
    padding: 5px;
    border-radius: 840px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    display: flex;
    align-items: center;
}

#back img {
    width: 30px; /* Ajusta según sea necesario */
    height: 30px; /* Ajusta según sea necesario */
    border-radius: 100%;
    margin-right: 10px;
}

#back p {
    margin: 0;
    font-size: 14px; /* Ajusta según sea necesario */
}

#back a {
    color: #0061ff; /* Color del enlace */
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
}
/* base_players.html*/

#players{
    display: flex;
    justify-content: space-around;
}

.player{
    text-align: center;
    margin: 10px;
    background-color: #fff; /* Fondo blanco */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    width: -webkit-fill-available;
}

.player img {
    width: 50px; /* Ajusta según sea necesario */
    height: 50px; /* Ajusta según sea necesario */
    border-radius: 50%;
    margin-right: 10px;
}

.player p {
    margin: 0;
    font-size: 14px; /* Ajusta según sea necesario */
}

.player a {
    color: #0061ff; /* Color del enlace */
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
}

/*game*/
#game{
    display: flex;
    width: 100%;
}

#panel{
    width: 50%; /* Ajusta el ancho según sea necesario */
    align-items: center;
}

#jugadores{
    width: 50%; /* Ajusta el ancho según sea necesario */
    text-align: center;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}


/*Una lleva a la otra y Centro de la cadena*/

#panel {
    padding: 20px; /* Add padding around the container */
    border-radius: 20px; /* Rounded corners */
    width: 300px; /* Set a fixed width */
    margin: auto; /* Center the panel */
  }
  
  #una_otra{
    list-style: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
  }
  
  #una_otra li {
    background-color: #19b112;
    color: white; 
    margin-bottom: 10px; 
    padding: 12.5px 20px; 
    border-radius: 15px 0 15px 0; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    font-weight: bold; 
    text-transform: uppercase; 
    font-size: 20px;
    width: 250px; 
    margin-left: auto; 
    margin-right: auto; 
  }
  
  #una_otra li:first-child, #una_otra li:last-child {
    background-color: #0061ff; /* Blue background for the first and last items */
  }

  #encadenadas{
    list-style: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
  }

  #encadenadas li {
    background-color: #19b112;
    color: white; 
    margin-bottom: 10px; 
    padding: 12.5px 20px; 
    border-radius: 15px 0 15px 0; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    font-weight: bold; 
    text-transform: uppercase; 
    font-size: 20px;
    text-align: center;
    width: 250px; 
    margin-left: auto; 
    margin-right: 40px; 
  }

  #encadenadas li:nth-child(1) {
    background-color: #0061ff; /* Blue background for the first and last items */
  }
  

  #centro_cadena{
    list-style: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
  }
  
  #centro_cadena li {
    background-color: #19b112;
    color: white; 
    margin-bottom: 10px; 
    padding: 12.5px 20px; 
    border-radius: 15px 0 15px 0; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    font-weight: bold; 
    text-transform: uppercase; 
    font-size: 20px;
    width: 250px; 
    margin-left: auto; 
    margin-right: auto; 
  }
  
  #centro_cadena li:first-child, #centro_cadena li:last-child, #centro_cadena li:nth-child(4){
    background-color: #0061ff ; /* Blue background for the first and last items */
  }

  #centro_cadena .activo{
    background-color: #f90 ;
  }

  #una_otra .activo{
    background-color: #f90 ;
  }



  
/*Ultima cadena*/


#ultimo_panel li {
    list-style: none; /* Remove default list styling */
    background-color: #19b112;
    color: white; 
    margin-bottom: 5px; 
    border-radius: 15px 0 15px 0; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    font-weight: bold; 
    text-transform: uppercase; 
    font-size: 20px;
    width: 250px; 
    margin-left: auto; 
    margin-right: auto; 
    text-align: center;

}

#ultimo_panel .palabraactual{
    background-color: #19b112;
}

#ultimo_panel li:nth-child(odd) {
    font-size: 20px; /* Tamaño grande para li impares */
    color: white;    /* Color gris para li impares */
    background-color: #0061ff; /* Fondo gris para el recuadro de li impares */
}

#ultimo_panel li:nth-child(even):not(.palabraactual) {
    font-size: 20px; /* Tamaño pequeño para li pares */
    color: #f90 ;   /* Color naranja para li pares */
    background-color: #ffe5b4; /* Fondo naranja para el recuadro de li pares */
}

/* usuario.html*/
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0; 
    padding: 0; 
    background-size: cover; 
    background-position: center; 
    background-color: #f5f5f5;
    color: #333; 
    height: 100vh; 
    overflow: hidden; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.container {
    display: flex;
    flex-direction: row;
    width: 100vw; /* Ajuste para ocupar todo el ancho de la ventana */
    height: 100vh; /* Ajuste para ocupar toda la altura de la ventana */
    overflow: auto; /* Permitir desplazamiento si el contenido lo requiere */
}

.sidebar {
    flex: 0 1 15vw; /* Hacer el sidebar más estrecho y flexible */
    padding: 2vw;
    border-right: 0.1vw solid #d1d1d1; /* Separación sutil entre sidebar y contenido */
    background-color: #f9fafb; 
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin-bottom: 1vw;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333; /* Color oscuro para contraste */
    padding: 1vw;
    display: block;
}

.main-content {
    padding: 2vw;
}
  
.profile, .stats {
background-color: #f9fafb; 
margin-bottom: 3vh;;
padding: 2vh;
border-radius: 0.5vw;
box-shadow: 0 0.4vw 1.2vw rgba(0,0,0,0.1);
width: 80vw;  
margin-left: auto; 
margin-right: auto;
}

h2 {
color: #0061ff;
margin-bottom: 1.5vh;
margin-top: 0.8vh;
font-size: x-large;
}

.label-value {
    margin-bottom: 1vh;
}

label {
font-weight: bold;
color: #555;
font-size: large;
}

p {
margin: 0.5vh 0 1.5vh;
line-height: 1.6;
font-size: large;
}

a {
color: #f06;
text-decoration: none;
transition: color 0.3s ease;
font-size: large;
}

a:hover {
color: #f90;
}

.cerrar_sesion {
background-color: #0061ff;
color: white;
border: none;
padding: 0.5vw 1vw; 
font-size: calc(0.8vw + 0.8vh); 
border-radius: 0.5vw;
cursor: pointer;
transition: background-color 0.3s ease;
}

.cerrar_sesion:hover {
background-color: #0061ff
}

/* Hover y enlaces activos */
.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: #e1e5e8; /* Color suave para hover */
    color: #333;
}

.registro-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9fafb6e;
    border-radius: 0 30px 0 30px; 
}

.registro-label {
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #333; /* Color de texto */
}

/* Estilos de campos de entrada */
.registro-input {
    width: 95%;
    padding: 8px;
    border: none;
    border-bottom: 1px solid #000;
    background-color: transparent;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* Estilos para mensajes de error */
.registro-error {
    color: #ff0000;
    margin-top: 5px;
}

#panel li.visible {
    cursor: pointer;
    margin-bottom: 5px;
    background-color: #0061ff; /* Color azul para las barras */
    color: white; /* Color del texto */
    padding: 10px 20px;
    border-radius: 10px; /* Bordes redondeados */
    display: block;
    transition: background-color 0.3s; /* Transición suave de colores */
}

#panel li.invisible {
    cursor: pointer;
    margin-bottom: 5px;
    background-color: #19b112; /* Color azul para las barras */
    padding: 10px 20px;
    border-radius: 10px; /* Bordes redondeados */
    display: block;
    transition: background-color 0.3s; /* Transición suave de colores */
}

.palabraVisible {
    visibility: visible;
}

.palabraInvisible {
    visibility: hidden;
}

.revealed-text {
    color: white; /* Establece el color del texto a blanco */
}


/* Ajustes de responsividad */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto; /* Ajuste de altura para dispositivos móviles */
    }

    .sidebar {
        width: 100%; /* Ajustar el sidebar para que ocupe el ancho completo en móviles */
        order: -1; /* Asegurar que el sidebar se muestre primero */
        border-right: none;
        border-bottom: 0.1vw solid #d1d1d1;
    }

    .main-content, .sidebar {
        flex: none; /* Desactivar el crecimiento y la contracción */
    }


}

body {
    background: radial-gradient(circle at center, #b3d9ff 0%, #80bfff 50%, #0061ff 100%);
    /* Para navegadores que no soportan gradientes */
    background: -webkit-radial-gradient(circle at center, #b3d9ff 0%, #80bfff 50%, #0061ff 100%);
    background: -moz-radial-gradient(circle at center, #b3d9ff 0%, #80bfff 50%, #0061ff 100%);
    background: -o-radial-gradient(circle at center, #b3d9ff 0%, #80bfff 50%, #0061ff 100%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.banner {
    text-align: center;
}

.text-top {
    display: block;
    font-size: 90px; 
    font-weight: bold;
    color: white;
    padding: 10px 40px; 
    border-radius: 0 40px 40px 40px; /* Redondeado en todas las esquinas menos en la superior izquierda */
    background: linear-gradient(to bottom right, #f06 20%, #f90 80%);
    box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.6); 
}

.text-bottom {
    display: block;
    font-size: 90px; 
    font-weight: bold;
    color: white;
    padding: 10px 40px; 
    border-radius: 40px 40px 0 40px; /* Redondeado en todas las esquinas menos en la inferior derecha */
    background: linear-gradient(to bottom right, #f06 20%, #f90 80%);
    box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.6); 
    margin-bottom: 40px;
}

.text-juego {
    display: block;
    font-size: 50px; 
    font-weight: bold;
    color: white;
    padding: 10px 40px; 
    border-radius: 0 40px 40px 40px; /* Redondeado en todas las esquinas menos en la superior izquierda */
    background: linear-gradient(to bottom right, #f06 20%, #f90 80%);
    box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.6); 
    margin-bottom: 40px;
}

.text-top {
    margin-bottom: 10px; 
}

.play-button {
    display: block;
    margin: 0 auto;
    font-size: 20px; 
    color: white;
    padding: 7px 40px; 
    border-radius: 15px 0 15px 0; 
    background: linear-gradient(to bottom right, #f06 20%, #f90 80%);
    box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.6); 
    border:none;
    transition: background-color 0.3s;
    margin-top: 30px;
}

.play-button:hover {
    background: #19b112
}


.orange-link {
    color: #f06; 
    font-size: 1.2em; 
    font-weight: bold; 
    transition: color 0.3s; 
    margin-right: 20px;
  }
  
.orange-link:hover {
    color: #f90;
}

.form-container {
    width: 300px; /* Ajusta el ancho según tus necesidades */
    margin: 0 auto; /* Centra el formulario horizontalmente */
}

.horizontal-form {
    display: flex;
    flex-direction: column;
}

.form-row {
    margin-bottom: 15px;
}

.form-container form p {
    font-weight: bold;
    font-size: 20px;
    color: #333; /* Color de texto */
    margin-bottom: 40px; /* Espacio inferior */
}

.form-container form label {
    font-weight: bold;
    color: #333; /* Color de texto */
}

.form-container [type="text"] {
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 1px solid #000;
    background-color: transparent;
    margin-top: 10px;
}

.form-container-index form p {
    font-weight: bold;
    font-size: 20px;
    color: #333; /* Color de texto */
}

.form-container-index {
    display: flex;
    justify-content: center; /* Centra horizontalmente el formulario */
}

.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Divide en dos columnas */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.options label {
    margin: 10px; /* Ajusta el espacio entre las opciones */
    font-weight: bold;
    color: #333; /* Color de texto */
}

.options input[type="radio"] {
    /* Oculta el círculo de selección predeterminado */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Define el tamaño del círculo de selección personalizado */
    width: 16px;
    height: 16px;
    /* Establece el color del círculo de selección */
    border-radius: 50%;
    border: 1px solid #f06; /* Cambia el color del borde del círculo */
    background-color: #ffffffbb; /* Cambia el color del círculo */
    /* Posición el círculo de selección */
    position: relative;
    top: 3px;
    margin-right: 8px; /* Ajusta el espacio entre el círculo y la etiqueta */
}

/* Cambia el color del círculo cuando está seleccionado */
.options input[type="radio"]:checked {
    background-color: #f90; /* Cambia el color del círculo cuando está seleccionado */
}

